body{
    background-color: rgb(98, 181, 230);
    color: rgb(9, 9, 9);
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{ 
        background-color: rgb(137, 192, 224);
        color: rgb(240, 231, 240);
        font-family: "Playfair Display", serif;
    }

.passo{ 
        display:none;
    }

.passo.ativo {
    display:block;
}

main{ 
    text-align: center;
    max-width: 90%;
}
img{
    max-width: 80%;
}